*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: Rubik-Medium;
    src: url(../fonres/Rubik-Medium.ttf);
}

@font-face{
    font-family: Rubik-Regular;
    src: url(../fonres/Rubik-Regular.ttf);
}

.container{
    width: 1180px;
    margin: 0 auto;
    cursor: auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.header_logo{
    display: flex;
    align-items: center;
}

.header_logo_txt{
    font-family: Rubik-Medium;
    margin-left: 11.88px;
    font-size: 20px;
    color: #333333;
}

.header_search{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #333333;
    border-width: 1px;
}

.header_search_txt{
    border: none;   
    border-bottom: 1px solid #333333;
    width: 320px;
    height: 25px;
    font-size: 16px;
    font-family: Rubik-Medium;
    color: #333333;
}

.header_search_txt::placeholder{
    font-family: Rubik-Regular;
    font-size: 16px;
    color: #828282;
}

.header_search_txt:focus{
    outline: none;
}

.header_search_btn{
    border: none;
    background: none;
    color: #E5261E;
    font-family: Rubik-Medium;
    font-size: 16px;
    margin-left: 32px;
}

.login_btn{
    text-decoration: none;
    padding: 10px 20px;
    font-family: Rubik-Medium;
    font-size: 16px;
    cursor: pointer;
    background-color: #E5261E;
    color: white;
    border: none;
    border-radius: 5px;
}

.login_btn:hover{
    background-color: #CC221B;
}

.nav_ul{
    width: 311px;
    margin: 0 auto; 
    display: flex;  
    justify-content: space-between;
    margin-top: 44px;
}

.nav_ul_li{
    list-style-type: none;
}

.nav_ul_a{
    font-family: Rubik-Medium;
    font-size: 28px;
    color: #333333;
    text-decoration: none;
}

.nav_ul_a:hover{
    color: #E5261E;
    border-bottom: 2px solid #E5261E;
    padding-bottom: 9px;
}

.news{

}

.news_p{
    font-size: 24px;
    font-family: Rubik-Medium;
    color: #333333;
    margin-bottom: 16px;
}

.movies{
    display: flex;
    justify-content: space-between;
}

.movies_item{
    width: 280px;
    position: relative;
}

.movies_item:hover .movies_item_description{
    opacity: 1;
}

.movies_item_img{
    border-radius: 8px;
}

.movies_item_p{
    font-size: 20px;
    font-family: Rubik-Regular;
    color: #333333;
    margin-top: 16px;
}

.movies_item_description{
    font-family: Rubik-Regular;
    font-size: 16px;
    line-height: 140%;
    width: 280px;
    height: 370px;
    border-radius: 8px;
    background-color: rgba(51,51,51,0.8);
    color: #F2F2F2;
    padding: 16px;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}

.ganres{
    margin-top: 32px;
}

.ganres_gallery{
    display: flex;
    justify-content: space-between;
}

.ganres_item{
    width: 280px;
    height: 208px;
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 0.8;
}

.ganres_item:hover{
    opacity: 1;
}

.ganres_bkg_comedy{
    background: linear-gradient(127.83deg, #F2C94C 8.44%, #F29A4A 91.36%);
}


.ganres_bkg_drama{
    background: linear-gradient(127.83deg, #F2994A 8.44%, #EB5757 91.36%);
}

.ganres_bkg_fantastic{
    background: linear-gradient(127.83deg, #56CCF2 8.44%, #2F80ED 91.36%);
}

.ganres_bkg_horror{
    background: linear-gradient(127.83deg, #828282 8.44%, #333333 91.36%);
}

.ganres_item_emj{
    font-size: 48px;
}

.ganres_item_txt{
    font-size: 20px;
    color: #ffffff;
    font-family: Rubik-Regular;
    position: absolute;
    top: 160px;
}

.footer{
    background-color: #F2F2F2;
    height: 120px;
    margin-top: 72px;
}

.footer_container{
    margin-left: 39.98px;
    display: flex;
    width: 1180px;
    margin: 0 auto;
    cursor: auto;
}

.footer_img{
    margin-top: 28px;
}

.footer_info{
    margin-left: 40px;
}

.footer_info_p{ 
    margin-top: 22px;
    color: #333333;
    font-family: Rubik-Regular;
    font-size: 16px;
}

.footer_info_p2{ 
    margin-top: 6px;
    color: #333333;
    font-family: Rubik-Regular;
    font-size: 16px;
}

.footer_info_a{
    margin-top: 10px;
}

.footer_info_a2{
    text-decoration:none;
    color: #1F4766;
    font-size: 16px;
    font-family: Rubik-Medium;
}


@media(width <= 391px){
    .container{
        width: 390px;
        margin: 0;
        cursor: auto;
    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 32px;
    }

    .header_logo{
        display: flex;
        align-items: center;
    }

    .header_logo_txt{
        display: none;
        font-family: Rubik-Medium;
        margin-left: 11.88px;
        font-size: 20px;
        color: #333333;
    }

    .header_search{
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom-color: #333333;
        border-width: 1px;
    }
    
    .header_search_txt{
        border: none;   
        border-bottom: 1px solid #333333;
        width: 180px;
        height: 25px;
        font-size: 14px;
        font-family: Rubik-Medium;
        color: #333333;
    }
    
    .header_search_txt::placeholder{
        font-family: Rubik-Regular;
        font-size: 14px;
        color: #828282;
    }
    
    .header_search_txt:focus{
        outline: none;
    }

    .header_search_btn{
        border: none;
        background: none;
        color: #E5261E;
        font-family: Rubik-Medium;
        font-size: 14px;
        margin-left: 32px;
    }

    .login_btn{
        text-decoration: none;
        padding: 5px 10px;
        font-family: Rubik-Medium;
        font-size: 14px;
        cursor: pointer;
        background-color: #E5261E;
        color: white;
        border: none;
        border-radius: 2.5px;
    }
    
    .login_btn:hover{
        background-color: #CC221B;
    }

    .movies{
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    }

    .movies_item{
        width: 390px;
        position: relative;
    }

    .nav_ul{
        width: 280px;
        margin: 0 auto; 
        display: flex;  
        justify-content: space-between;
        margin-top: 44px;
    }
    
    .nav_ul_li{
        list-style-type: none;
        margin-top: -20px;
    }
    
    .nav_ul_a{
        font-family: Rubik-Medium;
        font-size: 20px;
        color: #333333;
        text-decoration: none;
    }
    
    .nav_ul_a:hover{
        color: #E5261E;
        border-bottom: 1px solid #E5261E;
        padding-bottom: 2px;
    }

    .news{

    }

    .news_p{
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;

    }

    
.movies{
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    overflow-y: none;
}

.movies_item{
    width: 280px;
    position: relative;
    margin-left: 10px;
}

.movies_item:hover .movies_item_description{
    opacity: 1;
}

.movies_item_img{
    border-radius: 8px;
    height: 200px;
}

.movies_item_p{
    font-size: 16px;
    font-family: Rubik-Regular;
    color: #333333;
    margin-top: 16px;
}

.movies_item_description{
    font-family: Rubik-Regular;
    font-size: 10px;
    line-height: 140%;
    width: 100%;
    height: auto;
    border-radius: 8px;
    background-color: rgba(51,51,51,0.8);
    color: #F2F2F2;
    padding: 16px;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}


    .ganres{
        margin-left: 10px;
        margin-top: 32px;
    }
    
    .ganres_gallery{
        display: flex;
        justify-content: space-between;
        overflow-x: auto;
    }
    
    .ganres_item{
        width: 90px;
        height: 90px;
        position: relative;
        box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        opacity: 0.8;
    }
    
    .ganres_item:hover{
        opacity: 1;
    }
    
    .ganres_bkg_comedy{
        background: linear-gradient(127.83deg, #F2C94C 8.44%, #F29A4A 91.36%);
    }
    
    .ganres_bkg_drama{
        background: linear-gradient(127.83deg, #F2994A 8.44%, #EB5757 91.36%);
    }
    
    .ganres_bkg_fantastic{
        background: linear-gradient(127.83deg, #56CCF2 8.44%, #2F80ED 91.36%);
    }
    
    .ganres_bkg_horror{
        background: linear-gradient(127.83deg, #828282 8.44%, #333333 91.36%);
    }
    
    .ganres_item_emj{
        font-size: 48px;
    }
    
    .ganres_item_txt{
        display: none;
        font-size: 20px;
        color: #ffffff;
        font-family: Rubik-Regular;
        position: absolute;
        top: 160px;
    }

    .footer{
        background-color: #F2F2F2;
        height: 140px;
        margin-top: 40px;
    }
    
    .footer_container{
        margin-left: 39.98px;
        display: flex;
        width: 100%;
        margin: 0 auto;
        cursor: auto;
    }
    
    .footer_img{
        margin-top: 28px;
        margin-left: 20px;
    }
    
    .footer_info{
        margin-left: 40px;
        display: flex;
        flex-direction: column;
    }
    
    .footer_info_p{
        width: 300px; 
        margin-top: 22px;
        color: #333333;
        font-family: Rubik-Regular;
        font-size: 16px;

    }
    
    .footer_info_p2{ 
        margin-top: 6px;
        color: #333333;
        font-family: Rubik-Regular;
        font-size: 16px;
    }
    
    .footer_info_a{
        margin-top: 10px;
    }
    
    .footer_info_a2{
        text-decoration:none;
        color: #1F4766;
        font-size: 16px;
        font-family: Rubik-Medium;
    }
}